
<div class="container">
    
    <div fxLayout="row" class="add-button1">
      <button mat-raised-button color="primary" (click)="logout()">logout</button>
    </div>

 
    <div>
        <h2>Welcome to the User dashboard component</h2>
        Please select one of the following options:<br/>
        <input type="button" value="Log Out"/><br/>
        <input type="button" value="View Order Status"/><br/>
        <input type="button" value="View Funds"/><br/>
        <input type="button" value="Edit Profile"/><br/>
    </div>
    
    <div class="product-container m-t-10">
      <mat-card class="product-card" *ngFor="let product of cartProducts">
        <img mat-card-image class="image" [src]="product.image || defaultImg" [alt]="product.name">
        <mat-card-content>
          <div class="m-t-10 title">
            {{ product.name }}
          </div>
          <div class="m-t-10">
            Price: <span class="price">{{ product.price }} $</span>
          </div>
          <div class="m-t-10 description">
            {{ product.description }}
          </div>
        </mat-card-content>
        <!-- <mat-card-actions >
          <button  mat-flat-button color="primary" class="cartButton"  (click)="addToCart(product)">Add To Cart</button>
          <button  mat-flat-button color="primary"  class="cartButton"  (click)="deleteProduct(product)">Remove Item</button>
        </mat-card-actions> -->
        Cart Quantity: <span class="price">{{ product.cartQuantity }}</span>
      </mat-card>
      
    </div>
    <button  mat-flat-button color="primary" class="cartButton" (click)="placeOrder()" >Place Order</button>
     <button  mat-flat-button color="primary" class="cartButton" (click)="gotoProductList()" >Go To Product List</button>
</div>
  
  
  


