<div>
  <div class="text-right" style="margin: 20px">
    <button type="button" class="btn btn-success" routerLink="/login">Log out</button>
  </div>
   
  <div class="container" style="margin-left: 10px;">
    <h1>Admin Dashboard</h1>

    <ul class="nav nav-pills">
      <li><button mat-raised-button class="adm_btn" (click)="openProductDialog()">Add new item</button></li>
      <li><button mat-raised-button class="adm_btn" (click)="this.showEmployeeRequests = !this.showEmployeeRequests">View Request</button></li>
      <li><button mat-raised-button class="adm_btn" (click)="this.showAddEmployee = !this.showAddEmployee">Add Employee</button></li>
      <li><button mat-raised-button class="adm_btn" (click)="this.showDeleteEmployee = !this.showDeleteEmployee">Delete Employee</button></li>
      <li><button mat-raised-button class="adm_btn" (click)="generateReports(7)">Show Weekly Report</button></li>
      <li><button mat-raised-button class="adm_btn" (click)="generateReports(30)">Show Monthly Report</button></li>
      <li><button mat-raised-button class="adm_btn" (click)="generateReports(365)">Show Yearly Report</button></li>
    </ul>
  </div>

  <div class="product-container m-t-10">
    <mat-card class="product-card" *ngFor="let product of productList">
      <img mat-card-image class="image" [src]="product.image || defaultImg" [alt]="product.name">
      <mat-card-content>
        <div class="m-t-10 title">
          {{ product.name }}
        </div>
        <div class="m-t-10">
          Price: <span class="price">{{ product.price }} $</span>
        </div>
        <div class="m-t-10">
          Quantity: <span class="price">{{ product.quantity }}</span>
        </div>
        <div class="m-t-10 description">
          {{ product.description }}
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="openProductDialog(product)">Edit</button>
        <button mat-button (click)="deleteProduct(product)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>

 <!-- Admin View Employee Requests ----------------------------->

  <div class="request-container m-t-10" *ngIf="showEmployeeRequests">
    <h1></h1>
    <mat-card class="request-card" *ngFor="let employeeRequest of empolyeeRequests">
      
      <mat-card-content>
          <div class="m-t-10 title">
         Name:  {{ employeeRequest.empName }}
            </div>
        <div class="m-t-10 title">
        Message :  {{ employeeRequest.message }}
        </div>
        
        <div class="m-t-10 title">
       Request Date : {{ employeeRequest.requestDate }}
        </div>
        
      </mat-card-content>
    
    </mat-card>
    
  </div>

  <!-- Admin Add Employee Form ----------------------------->

  <div>
    <div class="login-container" *ngIf="showAddEmployee">
      <label *ngIf="nonMatchingPassword" style="color: red;">
          *Passwords do not match.
          <br/><br/>
      </label>

      <form class="example-form" #addEmployeeForm = "ngForm" (ngSubmit)="addEmployee(addEmployeeForm)" method="POST">
          <mat-form-field class="full-width">
              <mat-label>First Name:</mat-label>
              <input matInput name="firstName" ngModel required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
              <mat-label>Last Name: </mat-label>
              <input matInput name="lastName" ngModel required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
              <mat-label>Email: </mat-label>
              <input matInput name="email" ngModel required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
              <mat-label>Password: </mat-label>
              <input type="password" matInput name="password" minlength="6" ngModel required>
          </mat-form-field>
    
          <mat-form-field class="full-width">
              <mat-label>Confirm Password: </mat-label>
              <input type="password" matInput name="confirmedPassword" minlength="6" ngModel required>
          </mat-form-field>

          <mat-form-field class="full-width">
              <mat-label>Date of Birth: </mat-label>
              <input matInput name="dateOfBirth" ngModel required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
              <mat-label>Phone Number: </mat-label>
              <input matInput name="phoneNumber" ngModel required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
              <mat-label>Address: </mat-label>
              <input matInput name="address" ngModel required>
          </mat-form-field>
          
          <button mat-raised-button class="full-width m-t-15" type="submit" color="primary">Add</button>
          <button mat-raised-button class="full-width m-t-15" type="reset" style="background-color: red; color: white;">Reset</button>                
      </form>
    </div>
  </div>

  <!-- Admin Delete Employee Form ----------------------------->

  <div class="login-container" *ngIf="this.showDeleteEmployee">
    <form class="example-form" #deleteEmployeeForm="ngForm" (ngSubmit)="deleteEmployee(deleteEmployeeForm)" method="POST">
        <mat-form-field class="full-width">
            <mat-label>User Email: </mat-label>
            <input matInput name="email" ngModel required>
        </mat-form-field>
          
        <button mat-raised-button class="full-width m-t-15" type="submit" color="primary">Delete</button>
        <button mat-raised-button class="full-width m-t-15" type="reset" style="background-color: red; color: white;">Reset</button>               
    </form>
  </div>

  <!-- Building order reports table ----------------------------->

  <div *ngIf="showReport">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Quanity</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of reportedProducts">
          <td>{{order.name}}</td>
          <td>{{order.price}}</td>
          <td>{{order.quantity}}</td>
          <td>${{order.total}}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <label style="display:block; text-align:right; margin-right:335px;">
      Total Generated Revenue: ${{grandTotal}}
    </label>
  </div>

</div>




