.container {
  padding: 10px 30px;
  .add-button {
    justify-content: flex-start;
    margin-right:500px;
  }
  .add-button1 {
    justify-content:flex-end;
  }
  
  .product-container {
    .product-card {
      max-width: 200px;
      margin: 10px;
      display: inline-block;
      .image {
        height: 150px; 
        object-fit: contain;
      }
      .title {
        font-size: 18px;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .price {
        font-weight: 600;
      }
      .description {
        height: 65px;
        display: block;
        overflow-y: hidden;
      }
    }
  }
}

.login-container {
  width: 400px;
  margin-left: 35px;
  padding: 20px 15px;
}

.table{
  width: 2050px;
  margin: auto;
}

.adm_btn {
  background-color:cornflowerblue;
  color: white;
}

.request-container {
  .request-card {
    max-width: 400px;
    width: 400px;
    margin: 10px;
    display: inline-block;
    .image {
      height: 150px; 
      object-fit: contain;
    }
    .title {
      font-size: 18px;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price {
      font-weight: 600;
    }
    .description {
      height: 65px;
      display: block;
      overflow-y: hidden;
    }
  }
}