<body>

    <h1>WELCOME TO ORCAS GROCERS</h1>
    <br/>
    

    <div class="a">
    <button class="btn btn-outline-primary" type="button" onclick="location.href = '/login'">Admin panel</button>
    </div>
    <br/>
    <br/>
    <div class ="b">
    <button class="btn btn-outline-primary" type="button" onclick="location.href = '/employeeLogin'">Employee Panel</button>
    
    </div>
    <br/>
    <br/>
    
    <div class="c">
    <button class="btn btn-outline-primary" type="button" onclick="location.href = '/user-login'">User Panel</button>
    </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
    

</body>