mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav-content {
  background:linear-gradient( rgb(178, 153, 228),rgb(228, 228, 81));
}

mat-sidenav {
  width: 200px;
}

.m-r-15 {
  margin-right: 15px;
}

