
<body>
  <h1>USER</h1>

<div class="login-container">
  <form class="example-form" #userLoginForm = "ngForm" (ngSubmit)="login(userLoginForm.value)" method="POST">

    <mat-form-field class="full-width">
      <mat-label>User name</mat-label>
      <input matInput name="userId" ngModel required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput name="password" type="password" ngModel required>
    </mat-form-field>

    <label style="color: red;"  *ngIf="showRemainingAttempts"> 
      *Remaining login attempts: {{remainingAttempts}} 
    </label>

    <label style="color: red;"  *ngIf="showLockedOut"> 
      *You have been locked out. Please raise a ticket. 
    </label>
    
    <button mat-raised-button class="full-width m-t-15" type="submit" color="primary">Login</button>
    <button mat-raised-button class="full-width m-t-15" style="background-color: green; color: white;" routerLink="/signup">Sign up</button>
    <button mat-raised-button class="full-width m-t-15" color="primary" onclick="location.href = ''">Home</button>

  </form>
</div>
<br/><br/><br/><br/><br/><br/><br/>
</body>