.login-container {
    width: 400px;
    margin: 40px auto;
    background: #ffffff;
    padding: 20px 15px;
  }
  h1{
    font-weight: bold;
    text-align:center;
    font-family: cursive;
    font-size: 50px;
    color:rgba(59, 101, 121, 0.918);
    text-decoration:dashed;
    font-variant: small-caps;
    text-shadow:-2px -1px 0 rgb(135, 199, 241),-1px -1px;
    background-color:rgb(187, 241, 216) ;
  }
  